<% provide :title, t(".about_header") %>
<h1><%= t ".about_header" %> </h1>
<p>
  <%= t ".the" %> <%= link_to t(".base_title"), Settings.links.link4 %> <%= t ".is" %>
  <%= link_to t(".book"), Settings.links.link5 %> <%= t".and" %>
  <%= link_to t(".screencast_series"), Settings.links.link6 %> <%= t".to" %>
  <%= link_to t(".ror"), Settings.links.link7 %>
  <%= t ".this" %>
</p>
