<% provide :title, t(".help_header") %>
<h1><%= t ".help_header" %></h1>
<p>
  <%= t ".get" %>
  <%= link_to t(".ror_help"), Settings.links.link8 %>
  <%= t ".to" %>
  <%= link_to t(".base_title"), Settings.links.link5 %>
</p>
