<footer class="footer">
  <small>
    <%= t ".the" %> <%=link_to t(".base_title"), Settings.links.link2 %>
    <%= t ".by" %> <%=link_to t(".michael_hartl"), Settings.links.link1 %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.links.link3 %></li>
    </ul>
  </nav>
</footer
